@import "vars";

@font-face {
    font-family: 'Bison';
    src: url('../assets/fonts/Bison-Bold.eot');
    src: url('../assets/fonts/Bison-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Bison-Bold.woff2') format('woff2'),
    url('../assets/fonts/Bison-Bold.woff') format('woff'),
    url('../assets/fonts/Bison-Bold.ttf') format('truetype'),
    url('../assets/fonts/Bison-Bold.svg#Bison-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    padding-top: 0 !important;
}

.title {
    font-family: $family-primary;
}

.button {
    text-transform: uppercase;
    font-weight: bold;
}

.logo {
    width: 80%;
}

.has-bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


// responsive

.logo {
    @include desktop {
        width: 40%;
    }
}
