$text-color: #1e1313;
$beige-lighter: #EFF0EB;

$grey-dark: $text-color;
$primary: #231a72;
$link: #af3a5a;

$radius-large: 10px;

$control-radius: $radius-large;
$control-border-width: 2px;

$button-padding-horizontal: 1.7rem;
$button-padding-vertical: 1.7rem;

$body-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

$family-primary: Bison, cursive;
$body-family: "Open Sans", sans-serif;

$box-padding: 3rem;
$box-shadow: none;
